.container {
  margin: 20px 0 0 0;
}
.username {
  background-color: rgb(6, 6, 7);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.timeElapsed {
  justify-self: flex-end;
  align-self: flex-end;
}
.content {
  background-color: rgb(39, 39, 46);
  padding: 10px;

  line-height: 1.6;
}
.likes {
  display: inline-block;
  border-right: solid 1px white;
  padding-right: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 10s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.like {
  cursor: pointer;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@keyframes fadeInOpacity {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 140%;
  }
  100% {
    font-size: 100%;
  }
}

.white_heart {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
