.container {
  display: grid;
  max-width: 1160px;
  margin: 100px auto;
}

.postInput {
  width: 100%;
  height: 35px;
  border-radius: 16px;
  background-color: rgb(54, 54, 54);
  color: white;
  margin: 5px;
  padding-left: 10px;
  font-size: 15px;
}
.postInput::placeholder {
  color: white;
  opacity: 0.8;
}
