.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #000000;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: initial;
  right: -250%;
}
.notificationCount {
  position: absolute;
  left: 14px;
  bottom: -3px;
  background-color: red;
  border-radius: 50%;
  padding: 3px 5px;
  text-align: center;
  font-size: 14px;
}
.dropdownContent:hover {
  display: block;
}
.parent_container {
  background-color: #161b22;
  border-bottom: solid 1px rgb(58, 58, 58);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  display: grid;
  background-color: #161b22;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0px 10px;
  max-width: 1160px;
  margin: 0 auto;
}
.image {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 6px;
  align-self: end;
  justify-self: end;
}
.user_info_container {
  justify-self: end;
  align-self: center;
  display: grid;
  white-space: nowrap;
}
.usersIndex {
  text-align: center;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  font-size: large;
}
.user_info p {
  margin-left: 20px;
}
.user_info button {
  margin-left: 20px;
}
.logo {
  align-self: center;
  font-size: clamp(0px, 5vw, 50px);
  white-space: nowrap;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(145, 145, 145));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button {
  appearance: none;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  background-color: black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  min-height: 36px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: solid 2px black;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}
.username {
  display: inline-block;
}

@media only screen and (max-width: 460px) {
  .username {
    display: none;
  }
}
