.container {
  white-space: nowrap;
}
.accept {
  display: inline-block;
  color: white;
  background-color: rgb(91, 91, 255);
  cursor: pointer;

  padding: 5px;
}
.decline {
  display: inline-block;
  background-color: grey;
  color: rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
}
