.container {
  background-color: rgb(21, 21, 26);
  width: 80%;
  margin: 20px auto;
  padding: 30px;
}
.header {
  display: flex;
  background-color: rgb(28, 28, 36);
  padding: 10px;
  align-items: center;
}
.header h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.header h2 {
  font-size: 14px;
}
.content {
  margin: 20px;
  line-height: 1.6;
  padding-bottom: 20px;
}
.comments {
  border-bottom: solid 1px rgb(177, 177, 177);
  padding-bottom: 10px;
}
