.container {
  background-color: rgb(21, 21, 26);
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header {
  display: flex;
  background-color: rgb(28, 28, 36);
  padding: 10px;
  align-items: center;
}
.header h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.header h2 {
  font-size: 14px;
}
.content {
  margin: 20px;
  line-height: 1.6;
  padding-bottom: 20px;
}
.comments {
  border-bottom: solid 1px rgb(177, 177, 177);
  padding-bottom: 10px;
}
.white_heart {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.fade_in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@keyframes fadeInOpacity {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 140%;
  }
  100% {
    font-size: 100%;
  }
}

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-animation-duration: 10s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
