.container {
  max-width: 1160px;
  margin: 80px auto;
}
.username {
  font-size: 40px;
  margin-left: 20px;
  display: inline-block;
}
.profile_picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
