.parent_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
  padding: 20px 0;
}
.img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.addFriend {
  background-color: rgb(38, 64, 112);
  margin-left: 40px;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
}
